{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}
    <h1>EDIT PAGE</h1>
    <form action="{% url 'save' %}" method="POST">
        {% csrf_token %}
        <label>Title:</label>
        <input type="text" name="title" placeholder="Enter a Title" value="{{ title }}">
        <br>
        <label>Markdown Content:</label>
        <br>
        <textarea name="info">{{ info }}</textarea>
        <br>
        <input type="submit" value="Save" class="btn btn-primary">
    </form>

{% endblock %}